body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,20,0.5),rgba(0,0,20,0.5)),url(background_index.jpg);
	background-size: cover;
	background-position:justify;
	font-family: sans-serif;
}

.titulo-principal
{
	margin-top: 200px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.titulo-principal h1{
	font-size: 30px;
	line-height:10px;
	text-align: center;
}

form{
	margin-top:50px;
	transition:all 4s ease-in-out;
}

.datos_formulario{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}
.formulario{
	font-size:20px;
	width:600px;	
	background: transparent;
	outline:none;
	margin-bottom:16px;
	border:none;
	border-bottom:1px solid blue;
	color:#fff;
}

input{
	height: 50px;
}

form .submit{
	background-color:#FF5722;
	border-color:transparent;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	height: 50px;
	margin-top:20px;
}
.formulario2 {
	background-color:#FF5722;
	border-color:transparent;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	height: 50px;
	margin-top:20px;
}
.formulario2:hover{
	cursor: pointer;
}
form .submit:hover{
	cursor:pointer;
}
form .categorias{
	background-color:#FF5722;
	border-color:transparent;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	height: 50px;
	margin-top:20px;
}
form .categorias:hover{
	cursor:pointer;
}