body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,20,0.5),rgba(0,0,20,0.5)),url(background_index.jpg);
    background-size: cover;
    background-position:justify;
    font-family: sans-serif;
}

.titulo{

    font-size: 50px;
    color: lime;
    text-align: center;
    margin-top: 200px;
    text-transform: uppercase;
    transition: all 4s ease-in-out;

}

.botones_index{

    background-color:#FF5722;
	margin-top:20px; /* Es para darles espacio superior con los títulos de página*/
	margin-right: 20px; /* Es para darles espacio lateral derecho entre los tres botones de los que dispongo en la parte superior*/
	margin-bottom: 3%; /*Es para que halla espacio entre los botones de arriba y los de abajo */
	border-color:transparent;
	color:#fff;
	font-size:45px;
	font-weight:bold;
    height: 70px;
    
}