body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,20,0.5),rgba(0,0,20,0.5)),url(background_index.jpg);
	background-size: cover;
	font-family: sans-serif;
}

#segundo{

    font-size: 40px;
    line-height:10px;
    color:#FF0000;
    padding: 50px;
}

.importante{
    font-size: 20px;
    text-align: center;
    color: #4cff33;;
}
.importante_boton{
    width: 110px;
    font-size: 13pt;
    margin-left: 48%; /* Para que cuadre el boton a mi gusto*/
    margin-right: 52%; /* Para que cuadre el boton a mi gusto*/
    background-color:#106BA0;

}
.texto_desplegado{
    font-size: 20px;
    color:#4cff33;
}
.formulario_upload{

    width: 500px;
    position: absolute;
    margin-top: 30px;
    top: 50%; /* Esto es para centrar el formulario*/
    left: 50%; /* Esto es para centrar el formulario*/
    transform: translate(-50%,-50%); /* Esto es para centrar el formulario*/
}
.boton_subida {
    height: 50.5px;
    background-color:#FF5722;
	border-color:transparent;
	color:#fff;
	font-size:20px;
    font-weight:bold;
    display: inline-block;
    margin-top: 60px;
}

.tema_subido{

    height: 50px;
    width: 180px;
    margin: 40px;
    font-size: 13pt;
    margin-left: 50%;
    transform: translateX(-50%);

}
input[type="file"]{

   display:none; /* Hace desaparecer el boton que hemos creado para explorar y eleccionar el archivo a subir*/

}

label[for="boton_browse"]{ /* He creado un label que va a sustituir al boton que acabmos de ocultar , de manera que le puedo aplicar un poco de personalización*/

    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #106BA0;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

}